.bookCover {
  position: relative;
  width: 100%;
  height: 100%;
}

.bookCover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(-90deg, #fff0, #ffffff1a 80%, #ffffff4d 95%, #fff6 96.5%, #cbcbcb14 98%, #6a6a6a1a);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
}